In [3]:
print("Hello, Python!")

Hello, Python!

In [6]:
num1 = 20
num2 = 30
sum = num1 - num2
sum

-10

In [8]:
a = 10
b = 23
print(f" a is {a} and b is {b}")
print("a is {} and b is {} and their sum is {}".format(a, b, a + b)) 
print("a is %d and b is %d and their sum is %d" % (a, b, a + b))

 a is 10 and b is 23
a is 10 and b is 23 and their sum is 33
a is 10 and b is 23 and their sum is 33

In [10]:
number = 5.0
print(number.is_integer()) 
number
True
5.0
ratio = (0.75).as_integer_ratio() # (3, 4)
ratio

True

(3, 4)

In [12]:
x = 10
print("x is of type:", type(x))
y = 3.14
print("y is of type:", type(y))
name = "John"
print("name is of type:", type(name))
is_active = True
print("is_active is of type:", type(is_active))

x is of type: <class 'int'>
y is of type: <class 'float'>
name is of type: <class 'str'>
is_active is of type: <class 'bool'>

In [14]:
num = 5.67
num_int = int(num)
print("Converted to int:", num_int)
age = 25
age_float = float(age)
print("Converted to float:", age_float)
score = 90
score_str = str(score)
print("Converted to string:", score_str)

Converted to int: 5
Converted to float: 25.0
Converted to string: 90

In [16]:
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [18]:
x = 10
y = 20
print("Is x equal to y?", x == y)
print("Is x not equal to y?", x != y)
print("Is x greater than y?", x > y)
print("Is x less than or equal to y?", x <= y)

Is x equal to y? False
Is x not equal to y? True
Is x greater than y? False
Is x less than or equal to y? True

In [20]:
x = 5
y = 10
print("x > 0 and y > 0:", x > 0 and y > 0)
print("x > 0 or y < 0:", x > 0 or y < 0)
print("not(x > 0):", not(x > 0))

x > 0 and y > 0: True
x > 0 or y < 0: True
not(x > 0): False